/* You can add global styles to this file, and also import other style files */
.table thead th {
    background-color: #0d6efd9c !important;
    color: white;
    font-weight: bold;
  }
  .badge-completed{
    background-color: #198754 !important;
  }
  .badge-incomplete{
    background-color: red  !important;
  }